footer {
  position: fixed;
  bottom: 0;
  width: 100vw; /* 우리가 보는 화면에 100%를 채운다 */
  padding-bottom: 30px;
  padding-top: 20px;
  border-top: 1px solid #eaeaea;
  background-color: white;
}

.footer-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-icons {
  display: flex;
  flex-direction: column; /* 위아래로 배치하기 위해! */
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 10px;
  cursor: pointer; /* 마우스 갖다대면 클릭모양으로 바뀜 */
}

.footer-icons__desc {
  margin-top: 5px;
  font-weight: bold;
  transform: scale(0.8);
}

@keyframes icons-둥둥 {
  0% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(-10px);
  }
  70% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.footer-icons__img {
  width: 30px;
}

.footer-icons:hover .footer-icons__img {
  animation: 2s icons-둥둥;
}
